@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

img {
  display: block;
  margin: auto;
  width: 65%;
}

h1 {
  font-style: bold;
  font-weight: 700;
}

body {
  font-family: 'Arvo', serif;
  text-align: center;
}

.photoCredText {
  text-align: center;
  width: 40%;
  height: auto;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
}

.photoCredList {
  text-align: center;
  width: 220px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}